In [1]:
import pandas as pd 
import json
import numpy as np
import string

#### Einlesen der CSV Dateien

In [2]:
#Achtung: Dateinamen sind zuvor umbenannt worden!
bef = pd.read_csv('before.csv',sep = ' ')
aft = pd.read_csv('after.csv', sep = ' ')

#### Überprüfen, ob noch was anderes als NaN Werte in der Spalte 'Text' vorhanden ist

In [3]:
bef.Text.dropna(how = 'any')

Series([], Name: Text, dtype: float64)

In [4]:
aft.Text.dropna(how = 'any')

Series([], Name: Text, dtype: float64)

In [5]:
bef['Tweet.1'][0]

'Be sure to tune in and watch Donald Trump on Late Night with David Letterman as he presents the Top Ten List tonight!'

In [8]:
bef

,"ID,","Time,",Tweet,"URL,",Tweet.1,Text
0,"@realDonaldTrump,",2009-05-04,"13:54,",https://twitter.com/realDonaldTrump/status/169...,Be sure to tune in and watch Donald Trump on L...,NaN
1,"@realDonaldTrump,",2009-05-04,"20:00,",https://twitter.com/realDonaldTrump/status/170...,Donald Trump will be appearing on The View tom...,NaN
2,"@realDonaldTrump,",2009-05-08,"08:38,",https://twitter.com/realDonaldTrump/status/173...,Donald Trump reads Top Ten Financial Tips on L...,NaN
3,"@realDonaldTrump,",2009-05-08,"15:40,",https://twitter.com/realDonaldTrump/status/174...,New Blog Post: Celebrity Apprentice Finale and...,NaN
4,"@realDonaldTrump,",2009-05-12,"09:07,",https://twitter.com/realDonaldTrump/status/177...,'My persona will never be that of a wallflower...,NaN
...,...,...,...,...,...,...
31244,"@realDonaldTrump,",2017-01-19,"14:13,",https://twitter.com/realDonaldTrump/status/822...,On my way! # Inauguration2017https://twitter.c...,NaN
31245,"@realDonaldTrump,",2017-01-19,"14:18,",https://twitter.com/realDonaldTrump/status/822...,Great Concert at 4:00 P.M. today at Lincoln Me...,NaN
31246,"@realDonaldTrump,",2017-01-19,"14:21,",https://twitter.com/realDonaldTrump/status/822...,Join me at 4pm over at the Lincoln Memorial wi...,NaN
31247,"@realDonaldTrump,",2017-01-19,"18:40,",https://twitter.com/realDonaldTrump/status/822...,Thank you for joining us at the Lincoln Memori...,NaN
31248,"@realDonaldTrump,",2017-01-19,"22:24,",https://twitter.com/realDonaldTrump/status/822...,Thank you for a wonderful evening in Washingto...,NaN

#### Abspeichern der Tweets als JSON

In [10]:
data = {}#tweets werden als dictionaries in dem dictionary data abgespeichert
all_words_unique = set()
all_words = 0
all_links = 0
all_links_unique = set()
for id_, tweet in enumerate(bef['Tweet.1']):
    data[id_] = tweet
    tweet_ = tweet.split(' ')
    for word in tweet_:
        all_words += 1
        all_words_unique.add(word)
        if 'http' in word:
            all_links_unique.add(word)
            all_links += 1
    
for id_2, tweet in enumerate(aft['Tweet.1'], start = id_+1):
    data[id_2] = tweet#['text']
    tweet_ = tweet.split(' ')
    for word in tweet_:
        all_words += 1
        all_words_unique.add(word)
        if 'http' in word:
            all_links_unique.add(word)
            all_links += 1

print(len(data))
with open("trump.json", "w+") as write_file:
    json.dump(data, write_file)

54324

In [11]:
all_words

1187600

In [12]:
all_links

18608

In [13]:
len(all_links_unique)

17546

In [14]:
len(all_words_unique)

126446